<%- include("partials/header") %>

<link rel="stylesheet" href="app.css">
<h1>This is the homepage</h1>
<img src="https://cdn.pixabay.com/photo/2015/03/26/09/54/pug-690566_960_720.jpg">
<%- include("partials/footer") %>